html {
  scroll-behavior: smooth;
}

html,
body {
  // width: 100vw;
  max-width: unset;
  min-width: unset;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  // font-weight: $font-regular;
  font-size: 14px;
  // height: 100vh;
}

body,
.modal,
.custom-scroll {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    z-index: 10;
  }

  &::-webkit-scrollbar-track {
    border: $light-gray 2px solid;
    background-color: #d8d8d8;
    border-radius: 24px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $brand-blue;
    border-radius: 3px;
  }
}

a {
  @include transition;
}

b {
  font-weight: $font-semi-bold;
}

p,
li {
  font-size: rem(16px);
  line-height: rem(30px);
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.container {
  width: 100%;
  max-width: unset;
  min-width: unset;
}

.w-100 {
  max-width: 100% !important;
  min-width: 100% !important;
}

.icon-arrow-down {
  &:before {
    display: block;
  }

  &.arrow-up {
    &:before {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
    }
  }

  &.arrow-left {
    &:before {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);

      @at-root {
        html[dir="rtl"] & {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
        }
      }
    }
  }

  &.arrow-right {
    &:before {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);

      @at-root {
        html[dir="rtl"] & {
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
        }
      }
    }
  }
}

.lips-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 0.25rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    #{$left}: 0;
    #{$right}: 100%;
    height: 1px;
    background: $white;
    @include transition;
  }

  &:hover {
    &:before {
      #{$right}: 0;
    }
  }
}

.blue-bg-text-opacity {
  opacity: 0.5;
}

.white-card {
  background: $white;
  border-radius: 40px;
  @include box-shadow(0 10px 30px 0 rgba($brand-blue, 0.06));
}

.btn-see-all {
  display: flex;
  align-items: center;
  color: $brand-blue !important;
  font-size: rem(16px);
  line-height: rem(16px);
  @extend .lips-link;

  &:before {
    background: $brand-blue;
  }

  span {
    display: block;
    margin-#{$right}: 0.5rem;
    font-weight: $font-semi-bold;
  }

  i {
    font-size: rem(10px);
  }
}

.form-field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  display: block;
  padding: 0 15px;
  background: $blob-gray;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-radius: 15px;
  @include box-shadow(none);
}

.observable-hidden {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    Text colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    Font weights
---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    Responsive
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin general-sm {
}

@mixin general-md {
}

@mixin general-lg {
  .container {
    max-width: 1200px;
    min-width: unset;
  }
}

@mixin general-xl {
}

@mixin general-xxl {
}
