/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$white: #fff;
$text-main-color: #212529;
$text-gray: #c4c4c4;

$brand-blue: #081740;
$brand-blue-bg-opacity: rgba($white, 0.5);
$brand-blue-gray: #2e3548;

$danger-red: #f03333;
$danger-dark-red: darken($danger-red, 7%);
$success-green: #39aa81;
$success-dark-green: darken($success-green, 7%);

$mid-gray: #a3a3a3;
$light-gray: #f1f1f3;
$slate-gray: #646976;
$blob-gray: #f5f5f5;

$facebook-color: #3b5998;
$linkedin-color: #0a66c2;
$twitter-color: #1da1f2;
$insta-color: linear-gradient(
  45deg,
  #405de6,
  #5851db,
  #833ab4,
  #c13584,
  #e1306c,
  #fd1d1d
);

$border-color: #e0dfe2;
$placeholder-color: #adadad;

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Typography
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    03. Border radius
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$border-radius: 20px;
$section-border-radius: 50px;

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    04. Shadows
---------------------------------------------------------------------------------------------------------------------------------------------------- */
