/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Colors
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$white: #fff;
$black: #000;
$text-main-color: $black;

$brand-primary: #00609c;
$brand-secondary: #c017a2;

$danger-red: #f03333;
$danger-dark-red: darken($danger-red, 7%);
$success-green: #39aa81;
$success-dark-green: darken($success-green, 7%);

$light-gray: #eeeeee;
$border-gray: #d8d8d8;

$facebook-color: #3b5998;
$linkedin-color: #0a66c2;
$twitter-color: #1da1f2;
$insta-color: linear-gradient(
  45deg,
  #405de6,
  #5851db,
  #833ab4,
  #c13584,
  #e1306c,
  #fd1d1d
);

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Typography
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$franklin-family: "Libre Franklin", sans-serif;
$franklin-thin: 100;
$franklin-extra-light: 200;
$franklin-light: 300;
$franklin-regular: 400;
$franklin-medium: 500;
$franklin-semi-bold: 600;
$franklin-bold: 700;
$franklin-extra-bold: 800;
$franklin-black: 900;

$source-family: "Source Sans Pro", sans-serif;
$source-extra-light: 200;
$source-light: 300;
$source-regular: 400;
$source-semi-bold: 600;
$source-bold: 700;
$source-black: 900;

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    03. Border radius
---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    04. Shadows
---------------------------------------------------------------------------------------------------------------------------------------------------- */
$box-shadow: -5px 10px 35px 0px rgba(0, 0, 0, 0.15);
