.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0 !important;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 100px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-radius: 14px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  @include transition;

  &,
  span {
    font-size: rem(14px);
    line-height: rem(14px);
    font-weight: $font-semi-bold;
    white-space: nowrap;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    background: $placeholder-color;
    border-color: $placeholder-color;
    pointer-events: none;
  }

  &-primary {
    background: $brand-blue;
    color: $white;
    border-color: $brand-blue;
    @include box-shadow(0 5px 20px 0 rgba($brand-blue, 0.16));

    &:hover,
    &:focus,
    &:active {
      background: $brand-blue;
      border-color: $brand-blue;
    }

    &-outline {
      background: transparent;
      color: $brand-blue;
      border-color: $brand-blue;

      &:hover,
      &:focus,
      &:active {
        background: $brand-blue;
        color: $white;
        border-color: $brand-blue;
      }
    }
  }

  &-white {
    background: $white;
    color: $brand-blue;
    border-color: $white;
    @include box-shadow(0 5px 20px 0 rgba($brand-blue, 0.16));

    &:hover,
    &:focus,
    &:active {
      background: $brand-blue;
      border-color: $white;
      color: $white;
    }

    &-outline {
      background: transparent;
      color: $white;
      border-color: $white;

      &:hover,
      &:focus,
      &:active {
        background: $brand-blue;
        color: $white;
        border-color: $brand-blue;
      }
    }
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    Responsive
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@mixin buttons-sm {
  .btn {
    &-width-auto {
      width: auto;
      min-width: unset;
      max-width: unset;
    }
  }
}

@mixin buttons-md {
}

@mixin buttons-lg {
}

@mixin buttons-xl {
}

@mixin buttons-xxl {
}
